<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/mira.png" alt="mira" class="img-thumbnail rounded-circle" width="200px">
      <h1 class="display-4">Miftahur Rizqiyah</h1>
      <p class="lead">Back End Developer</p>
    </div>
  </div>
</div>